@page 
@model ProductModel 
<h1 class="mb-3"> Product Lists</h1> 
<div class=" d-flex justify-content-end mb-3"> 
<a asp-page="Create" class="btn btn-success ">Add New Order</a> 
</div> 
<div class="container table-responsive"> 
<table class="table table-bordered table-striped text-center table-responsive" > 
<thead class="table-dark"> 
<tr> 
<th>Id</th> 
<th>CustomerName</th> 
<th>ProductName</th> 
<th>Quantity</th> 
<th>Price</th> 
<th>OrderDate</th>
<th>Actions</th>

</tr> 
</thead> 
<tbody>    
@foreach (var order in Model.Orders){ 
                <tr> 
                    <td>@order.Id</td> 
                    <td>@order.CustomerName</td> 
                    <td>@order.ProductName</td> 
                    <td>@order.Quantity</td> 
                    <td>@order.Price</td> 
                    <td>@order.OrderDate</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@order.Id" class="btn btn-primary btn-sm">Edit</a> 
                        <a asp-page="Delete" asp-route-id="@order.Id" class="btn btn-danger btn-sm">Delete</a> 
                    </td> </tr>} 
</tbody></table> 
</div>